.chat-input {
    width: 350px;
    height: 30px;
    border-radius: 30px;

    flex-grow: 1;
    align-self: end;
     margin-bottom: 10px;
     font-size: large;
     text-align: center;
}

.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}

.send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
