.sidebar {
  width: 250px;
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}



.sidebar-buttons{
    display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
  margin-bottom: 20px;
}

.sidebar button {
  background-color: white;
  color: #1e1e2f;
  padding: 7px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* Style ONLY the darkmode button */
.darkmode-button {
  border: none;
  border-radius: 50%;
  padding: 6px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.darkmode-button img {
  width: 20px;
  height: 20px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-list li {
  padding: 10px 0;
  cursor: pointer;
  transition: 0.2s;
  background-color: #3f5661;
  margin: 2px;
  text-align: center;
}

.sidebar-list li:hover {
  color: #4fc3f7;
  background-color: #2a3b4c;
  border-radius: 5px;
}
