body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
     /* Default light mode */
/* Default Light Mode */
.main-layout {
  background-color: #f5f5f5;
  color: #333;
}

.main-layout .chat-container {
  background-color: #f5f5f5;
}

.main-layout .chat-message-user,
.main-layout .chat-message-robot {
  background-color: #f0f0f0;
  color: black;
}

/* DARK MODE activated on .main-layout */
.main-layout.dark-mode {
  background-color: #121212;
  color: white;
}

.main-layout.dark-mode .chat-container {
  background-color: #1e1e2f;
}

.main-layout.dark-mode .chat-message-text {
  background-color: #1e1e2f;
}

.main-layout.dark-mode .chat-message-user,
.main-layout.dark-mode .chat-message-robot {
  background-color: #2a2a40;
  color: white;
}
